<h1>Restaurants</h1>
<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
    <p><%= restaurant.description %>
    <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>
  <% end %>
<% else %>
  <h2>No restaurants yet</h2>
<% end %>

<h2><a href="restaurants/new">Add a restaurant</a></h2>
